//
//  BuildConfig_dev.xcconfig
//  tchek
//
//  Created by Silvio Pulitano on 15/09/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

TCHEK_SDK_FLAVOR = dev_DbProd
TCHEK_SDK_APP_BUNDLE_ID = ai.tchek.TchekSdk.dev
TCHEK_SDK_BASE_API_URL = http:/$()/alto.tchek.fr:1341
TCHEK_SDK_API_VERSION = apiV1_sdk
TCHEK_SDK_BASE_REPORT_URL = https:/$()/devliveapi.tchek.fr
